/*Position aware logic */

.grid {
    --x:0;
    --y:0;
}

.grid, .subgrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
} 

.subgrid,
.cell {
    display: none;
}
.grid:hover > .subgrid,
.subgrid:hover > .subgrid,
.subgrid:hover > .cell {
    display: grid;
}

.subgrid--1 {
    .grid:has(&:nth-child(n +1):nth-child(-n + 5):hover) {
        --i-y: 0;
    }
    .grid:has(&:nth-child(n +1):nth-child(-n + 5):hover) {
        --i-y: 0;
    }
}