@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales personalizados */
@layer base {
  body {
    @apply bg-gradient-primary min-h-screen font-sans;
  }
}

@layer components {
  /* Scrollbar personalizada */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary-400 rounded;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-500;
  }
}
